.font-weight-bold{
    font-weight: bold;
}
.font-size-1-r{
    font-size: 1rem;
}
.font-size-1-5-r{
    font-size: 1.5rem;
}
.margin-left-10{
    margin-left: 10px;
}
.margin-left-15{
    margin-left: 15px;
}
.margin-right-10{
    margin-right: 10px;
}
.margin-right-15{
    margin-right: 15px;
}
.cursor-pointer{
    cursor: pointer;
}
.display-none{
    display: none;
}
